In [44]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from xgboost import XGBClassifier
from sklearn.model_selection import cross_val_score
from sklearn.preprocessing import MinMaxScaler
import pandas as pd
import xgboost as xgb
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
import numpy as np

In [45]:
df = pd.read_pickle('cleaned_PrivCo_data.pkl')
print(df.info())
print(df.columns)
print(df.shape)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5997 entries, 0 to 5996
Data columns (total 63 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   PrivCo_ID               5997 non-null   int64
 1   profile_type            5997 non-null   object
 2   classification          5997 non-null   object
 3   status                  5997 non-null   object
 4   PE_Backed               5997 non-null   object
 5   VC_Backed               5997 non-null   object
 6   year_founded            5997 non-null   int64
 7   City                    5948 non-null   object
 8   State                   5933 non-null   object
 9   Country                 5997 non-null   object
 10  Zip                     4796 non-null   object
 11  Industry_PICS           5980 non-null   object
 12  Keywords                5812 non-null   object
 13  sic                     201 non-null    object
 14  naics                   564 non-null    object
 15  Company_Tags            3631 non-null   object
 16  fiscal_month            5997 non-null   int64
 17  fiscal_day              5997 non-null   int64
 18  Total_Round             5997 non-null   float64
 19  index_total_funding     5997 non-null   float64
 20  Latest_Valuation        5545 non-null   float64
 21  Latest_Valuation_Year   5545 non-null   float64
 22  1 Year Revenue Growth   3928 non-null   float64
 23  3 Year Revenue Growth   5997 non-null   float64
 24  1 Year Employee Growth  2117 non-null   float64
 25  3 Year Employee Growth  549 non-null    float64
 26  2023 Revenue            5997 non-null   float64
 27  2022 Revenue            5997 non-null   float64
 28  2021 Revenue            5997 non-null   float64
 29  2020 Revenue            5997 non-null   float64
 30  2019 Revenue            5997 non-null   float64
 31  2018 Revenue            291 non-null    float64
 32  2017 Revenue            160 non-null    float64
 33  2023 Employees          2725 non-null   float64
 34  2022 Employees          2314 non-null   float64
 35  2021 Employees          2138 non-null   float64
 36  2020 Employees          1212 non-null   float64
 37  2019 Employees          612 non-null    float64
 38  2018 Employees          292 non-null    float64
 39  2017 Employees          157 non-null    float64
 40  2023 EBITDA             2170 non-null   float64
 41  2022 EBITDA             1391 non-null   float64
 42  2021 EBITDA             855 non-null    float64
 43  2020 EBITDA             506 non-null    float64
 44  2019 EBITDA             238 non-null    float64
 45  2018 EBITDA             143 non-null    float64
 46  2017 EBITDA             131 non-null    float64
 47  2023 EV                 2174 non-null   float64
 48  2022 EV                 1378 non-null   float64
 49  2021 EV                 842 non-null    float64
 50  2020 EV                 485 non-null    float64
 51  2019 EV                 218 non-null    float64
 52  2018 EV                 142 non-null    float64
 53  2017 EV                 130 non-null    float64
 54  2023 Net Income         2170 non-null   float64
 55  2022 Net Income         1393 non-null   float64
 56  2021 Net Income         846 non-null    float64
 57  2020 Net Income         33 non-null     float64
 58  2019 Net Income         31 non-null     float64
 59  2018 Net Income         7 non-null      float64
 60  2017 Net Income         0 non-null      float64
 61  CAGR                    3929 non-null   float64
 62  Latest EBITDA           5997 non-null   float64
dtypes: float64(45), int64(4), object(14)
memory usage: 2.9+ MB
None
Index(['PrivCo_ID', 'profile_type', 'classification', 'status', 'PE_Backed',
       'VC_Backed', 'year_founded', 'City', 'State', 'Country', 'Zip',
       'Industry_PICS', 'Keywords', 'sic', 'naics', 'Company_Tags',
       'fiscal_month', 'fiscal_day', 'Total_Round', 'index_total_funding',
       'Latest_Valuation', 'Latest_Valuation_Year', '1 Year Revenue Growth',
       '3 Year Revenue Growth', '1 Year Employee Growth',
       '3 Year Employee Growth', '2023 Revenue', '2022 Revenue',
       '2021 Revenue', '2020 Revenue', '2019 Revenue', '2018 Revenue',
       '2017 Revenue', '2023 Employees', '2022 Employees', '2021 Employees',
       '2020 Employees', '2019 Employees', '2018 Employees', '2017 Employees',
       '2023 EBITDA', '2022 EBITDA', '2021 EBITDA', '2020 EBITDA',
       '2019 EBITDA', '2018 EBITDA', '2017 EBITDA', '2023 EV', '2022 EV',
       '2021 EV', '2020 EV', '2019 EV', '2018 EV', '2017 EV',
       '2023 Net Income', '2022 Net Income', '2021 Net Income',
       '2020 Net Income', '2019 Net Income', '2018 Net Income',
       '2017 Net Income', 'CAGR', 'Latest EBITDA'],
      dtype='object')
(5997, 63)

## One Hot Encode the low cardinality categorical data

In [46]:
columns_to_encode = ['PE_Backed','VC_Backed']
df = pd.get_dummies(df, columns=columns_to_encode)
df = df.drop(['PE_Backed_No', 'VC_Backed_No'], axis=1)
df['PE_Backed_Yes'] = df['PE_Backed_Yes'].astype('int')
df['VC_Backed_Yes'] = df['VC_Backed_Yes'].astype('int')
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5997 entries, 0 to 5996
Data columns (total 63 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   PrivCo_ID               5997 non-null   int64
 1   profile_type            5997 non-null   object
 2   classification          5997 non-null   object
 3   status                  5997 non-null   object
 4   year_founded            5997 non-null   int64
 5   City                    5948 non-null   object
 6   State                   5933 non-null   object
 7   Country                 5997 non-null   object
 8   Zip                     4796 non-null   object
 9   Industry_PICS           5980 non-null   object
 10  Keywords                5812 non-null   object
 11  sic                     201 non-null    object
 12  naics                   564 non-null    object
 13  Company_Tags            3631 non-null   object
 14  fiscal_month            5997 non-null   int64
 15  fiscal_day              5997 non-null   int64
 16  Total_Round             5997 non-null   float64
 17  index_total_funding     5997 non-null   float64
 18  Latest_Valuation        5545 non-null   float64
 19  Latest_Valuation_Year   5545 non-null   float64
 20  1 Year Revenue Growth   3928 non-null   float64
 21  3 Year Revenue Growth   5997 non-null   float64
 22  1 Year Employee Growth  2117 non-null   float64
 23  3 Year Employee Growth  549 non-null    float64
 24  2023 Revenue            5997 non-null   float64
 25  2022 Revenue            5997 non-null   float64
 26  2021 Revenue            5997 non-null   float64
 27  2020 Revenue            5997 non-null   float64
 28  2019 Revenue            5997 non-null   float64
 29  2018 Revenue            291 non-null    float64
 30  2017 Revenue            160 non-null    float64
 31  2023 Employees          2725 non-null   float64
 32  2022 Employees          2314 non-null   float64
 33  2021 Employees          2138 non-null   float64
 34  2020 Employees          1212 non-null   float64
 35  2019 Employees          612 non-null    float64
 36  2018 Employees          292 non-null    float64
 37  2017 Employees          157 non-null    float64
 38  2023 EBITDA             2170 non-null   float64
 39  2022 EBITDA             1391 non-null   float64
 40  2021 EBITDA             855 non-null    float64
 41  2020 EBITDA             506 non-null    float64
 42  2019 EBITDA             238 non-null    float64
 43  2018 EBITDA             143 non-null    float64
 44  2017 EBITDA             131 non-null    float64
 45  2023 EV                 2174 non-null   float64
 46  2022 EV                 1378 non-null   float64
 47  2021 EV                 842 non-null    float64
 48  2020 EV                 485 non-null    float64
 49  2019 EV                 218 non-null    float64
 50  2018 EV                 142 non-null    float64
 51  2017 EV                 130 non-null    float64
 52  2023 Net Income         2170 non-null   float64
 53  2022 Net Income         1393 non-null   float64
 54  2021 Net Income         846 non-null    float64
 55  2020 Net Income         33 non-null     float64
 56  2019 Net Income         31 non-null     float64
 57  2018 Net Income         7 non-null      float64
 58  2017 Net Income         0 non-null      float64
 59  CAGR                    3929 non-null   float64
 60  Latest EBITDA           5997 non-null   float64
 61  PE_Backed_Yes           5997 non-null   int64
 62  VC_Backed_Yes           5997 non-null   int64
dtypes: float64(45), int64(6), object(12)
memory usage: 2.9+ MB

# Drop any rows that have NaN for Latest Valuation

In [47]:
df = df.dropna(subset=['Latest_Valuation'],  how ='any')

df = df.dropna(subset=['3 Year Revenue Growth', 'Latest EBITDA', 'CAGR'],  how ='any')


# using first 'Total_Round' ,'1 Year Revenue Growth', '2023 Revenue', 'CAGR', 'PE_Backed_Yes', 'VC_Backed_Yes, 
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3698 entries, 1 to 5995
Data columns (total 63 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   PrivCo_ID               3698 non-null   int64
 1   profile_type            3698 non-null   object
 2   classification          3698 non-null   object
 3   status                  3698 non-null   object
 4   year_founded            3698 non-null   int64
 5   City                    3685 non-null   object
 6   State                   3689 non-null   object
 7   Country                 3698 non-null   object
 8   Zip                     3538 non-null   object
 9   Industry_PICS           3697 non-null   object
 10  Keywords                3657 non-null   object
 11  sic                     184 non-null    object
 12  naics                   458 non-null    object
 13  Company_Tags            2624 non-null   object
 14  fiscal_month            3698 non-null   int64
 15  fiscal_day              3698 non-null   int64
 16  Total_Round             3698 non-null   float64
 17  index_total_funding     3698 non-null   float64
 18  Latest_Valuation        3698 non-null   float64
 19  Latest_Valuation_Year   3698 non-null   float64
 20  1 Year Revenue Growth   3698 non-null   float64
 21  3 Year Revenue Growth   3698 non-null   float64
 22  1 Year Employee Growth  1964 non-null   float64
 23  3 Year Employee Growth  523 non-null    float64
 24  2023 Revenue            3698 non-null   float64
 25  2022 Revenue            3698 non-null   float64
 26  2021 Revenue            3698 non-null   float64
 27  2020 Revenue            3698 non-null   float64
 28  2019 Revenue            3698 non-null   float64
 29  2018 Revenue            276 non-null    float64
 30  2017 Revenue            159 non-null    float64
 31  2023 Employees          756 non-null    float64
 32  2022 Employees          2090 non-null   float64
 33  2021 Employees          1983 non-null   float64
 34  2020 Employees          1074 non-null   float64
 35  2019 Employees          581 non-null    float64
 36  2018 Employees          277 non-null    float64
 37  2017 Employees          155 non-null    float64
 38  2023 EBITDA             942 non-null    float64
 39  2022 EBITDA             1267 non-null   float64
 40  2021 EBITDA             789 non-null    float64
 41  2020 EBITDA             431 non-null    float64
 42  2019 EBITDA             219 non-null    float64
 43  2018 EBITDA             140 non-null    float64
 44  2017 EBITDA             130 non-null    float64
 45  2023 EV                 943 non-null    float64
 46  2022 EV                 1278 non-null   float64
 47  2021 EV                 793 non-null    float64
 48  2020 EV                 424 non-null    float64
 49  2019 EV                 211 non-null    float64
 50  2018 EV                 140 non-null    float64
 51  2017 EV                 130 non-null    float64
 52  2023 Net Income         942 non-null    float64
 53  2022 Net Income         1267 non-null   float64
 54  2021 Net Income         781 non-null    float64
 55  2020 Net Income         16 non-null     float64
 56  2019 Net Income         15 non-null     float64
 57  2018 Net Income         6 non-null      float64
 58  2017 Net Income         0 non-null      float64
 59  CAGR                    3698 non-null   float64
 60  Latest EBITDA           3698 non-null   float64
 61  PE_Backed_Yes           3698 non-null   int64
 62  VC_Backed_Yes           3698 non-null   int64
dtypes: float64(45), int64(6), object(12)
memory usage: 1.8+ MB

In [48]:
df.columns
non_null_columns = [col for col in df.columns if not df[col].isnull().any()]
non_null_columns

['PrivCo_ID',
 'profile_type',
 'classification',
 'status',
 'year_founded',
 'Country',
 'fiscal_month',
 'fiscal_day',
 'Total_Round',
 'index_total_funding',
 'Latest_Valuation',
 'Latest_Valuation_Year',
 '1 Year Revenue Growth',
 '3 Year Revenue Growth',
 '2023 Revenue',
 '2022 Revenue',
 '2021 Revenue',
 '2020 Revenue',
 '2019 Revenue',
 'CAGR',
 'Latest EBITDA',
 'PE_Backed_Yes',
 'VC_Backed_Yes']

In [49]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
import numpy as np

# Assuming `df` is your DataFrame and preprocessing is done
# '3 Year Revenue Growth', '2023 Revenue','2022 Revenue','2021 Revenue', '2020 Revenue', '2019 Revenue', 'Latest EBITDA']

y = df['Latest_Valuation']

features = ['year_founded', 'Total_Round',
       'index_total_funding',
       '1 Year Revenue Growth', '3 Year Revenue Growth', '2023 Revenue',
       '2022 Revenue', '2021 Revenue', '2020 Revenue', '2019 Revenue', 'CAGR',
       'Latest EBITDA', 'PE_Backed_Yes', 'VC_Backed_Yes']

# Creating a new DataFrame X with only specified columns from df
X = df[features]




print(X.info())
print(y.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3698 entries, 1 to 5995
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   year_founded           3698 non-null   int64
 1   Total_Round            3698 non-null   float64
 2   index_total_funding    3698 non-null   float64
 3   1 Year Revenue Growth  3698 non-null   float64
 4   3 Year Revenue Growth  3698 non-null   float64
 5   2023 Revenue           3698 non-null   float64
 6   2022 Revenue           3698 non-null   float64
 7   2021 Revenue           3698 non-null   float64
 8   2020 Revenue           3698 non-null   float64
 9   2019 Revenue           3698 non-null   float64
 10  CAGR                   3698 non-null   float64
 11  Latest EBITDA          3698 non-null   float64
 12  PE_Backed_Yes          3698 non-null   int64
 13  VC_Backed_Yes          3698 non-null   int64
dtypes: float64(11), int64(3)
memory usage: 433.4 KB
None
<class 'pandas.core.series.Series'>
Int64Index: 3698 entries, 1 to 5995
Series name: Latest_Valuation
Non-Null Count  Dtype
--------------  -----
3698 non-null   float64
dtypes: float64(1)
memory usage: 57.8 KB
None

In [50]:
X.columns

Index(['year_founded', 'Total_Round', 'index_total_funding',
       '1 Year Revenue Growth', '3 Year Revenue Growth', '2023 Revenue',
       '2022 Revenue', '2021 Revenue', '2020 Revenue', '2019 Revenue', 'CAGR',
       'Latest EBITDA', 'PE_Backed_Yes', 'VC_Backed_Yes'],
      dtype='object')

### Model V3: Cross Validation

In [51]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split, cross_val_score, KFold
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import MinMaxScaler

# Load your dataset into DataFrame df
# df = pd.read_csv('your_data.csv')  # Uncomment and modify if starting from a CSV file

# Define features and target
X = df[['index_total_funding', '3 Year Revenue Growth', '2023 Revenue' , '2022 Revenue', '2021 Revenue', '2020 Revenue', '2019 Revenue', 'CAGR', 'Latest EBITDA', 'PE_Backed_Yes', 'VC_Backed_Yes']]
y = df[['Latest_Valuation']]  # Keep y as a DataFrame for consistent handling

# Initialize two separate scalers
scaler_X = MinMaxScaler(feature_range=(0, 1))
scaler_y = MinMaxScaler(feature_range=(0, 1))

# Scale the features and target
X_scaled = scaler_X.fit_transform(X)
y_scaled = scaler_y.fit_transform(y)

# Initialize the linear regression model
model = LinearRegression()

# Prepare cross-validation (e.g., 5-fold cross-validation)
cv = KFold(n_splits=5, random_state=42, shuffle=True)

# Perform cross-validation
cv_scores = cross_val_score(model, X_scaled, y_scaled.ravel(), cv=cv, scoring='neg_mean_absolute_error')

# Print the scores
print("Cross-Validation Scores (Negative Mean Absolute Error):", cv_scores)
print("Average MAE:", -cv_scores.mean())  # Convert from negative to positive

Cross-Validation Scores (Negative Mean Absolute Error): [-0.00129387 -0.00085403 -0.00093258 -0.00206162 -0.00118452]
Average MAE: 0.0012653251640495013

### Model V2: Regular Split

In [41]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import MinMaxScaler

# Load your dataset into DataFrame df
# df = pd.read_csv('your_data.csv')  # Uncomment and modify if starting from a CSV file

# Define features and target
X = df[['index_total_funding', '3 Year Revenue Growth', '2023 Revenue' , '2022 Revenue', '2021 Revenue', '2020 Revenue', '2019 Revenue', 'CAGR', 'Latest EBITDA', 'PE_Backed_Yes', 'VC_Backed_Yes']]
y = df[['Latest_Valuation']]  # Keep y as a DataFrame for consistent handling

# Split data into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)  # 20% data as test set

# Initialize two separate scalers
scaler_X = MinMaxScaler(feature_range=(0, 1))
scaler_y = MinMaxScaler(feature_range=(0, 1))

# Fit and transform training features
X_scaled_train = scaler_X.fit_transform(X_train)
# Transform testing features
X_scaled_test = scaler_X.transform(X_test)

# Fit and transform training target
y_scaled_train = scaler_y.fit_transform(y_train)
# Transform testing target
y_scaled_test = scaler_y.transform(y_test)

# Fit the linear regression model on scaled training data
model = LinearRegression().fit(X_scaled_train, y_scaled_train)

# Predict using the linear model on scaled testing data
predictions = model.predict(X_scaled_test)

# Calculate mean absolute error on scaled testing data
error = np.mean(np.abs(predictions - y_scaled_test))
print('Mean Absolute Error:', error)

Mean Absolute Error: 0.0012938715384944717

##### X_test = df[['3 Year Revenue Growth', 'Latest EBITDA']]    Mean Absolute Error: 0.0018742812834040177
##### X_test = df[['3 Year Revenue Growth', 'Latest EBITDA', '2019 Revenue']]   Mean Absolute Error: 0.0018478605057903994
##### X_test = df[['3 Year Revenue Growth', '2023 Revenue', '2022 Revenue', '2021 Revenue', '2020 Revenue', '2019 Revenue', 'CAGR', 'Latest EBITDA']] Mean Absolute Error: 0.001671858247437789



##### X_test = df[['index_total_funding', '3 Year Revenue Growth', '2023 Revenue' , '2022 Revenue', '2021 Revenue', '2020 Revenue', '2019 Revenue', 'CAGR', 'Latest EBITDA', 'PE_Backed_Yes', 'VC_Backed_Yes']] Mean Absolute Error: 0.0011351270053765424
       
       
##### X_test = df[['year_founded', 'Total_Round', 'index_total_funding',
       '1 Year Revenue Growth', '3 Year Revenue Growth', '2023 Revenue',
       '2022 Revenue', '2021 Revenue', '2020 Revenue', '2019 Revenue', 'CAGR',
       'Latest EBITDA', 'PE_Backed_Yes', 'VC_Backed_Yes']] Mean Absolute Error: 0.001265480011511104

## Model V1: fit_transform GD

In [40]:
# fit a regression model
import pandas as pd
import numpy as np
from sklearn import metrics
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

# use the minMaxScaler 
from sklearn.preprocessing import MinMaxScaler
import numpy as np


scaler = MinMaxScaler(feature_range=(0, 1))

columns_to_scale_lib = ['3 Year Revenue Growth', 'Latest EBITDA']

x_lib = scaler.fit_transform(X[columns_to_scale_lib])

y_lib = scaler.fit_transform(df[["Latest_Valuation"]])


model = LinearRegression().fit(x_lib, y_lib)
model
print(model.coef_)
print(model.intercept_)

KeyError: "['Latest EBITDA'] not in index"

In [30]:


x_scaled_test = np.append(scaler.fit_transform(X[["3 Year Revenue Growth"]]), scaler.fit_transform(X[["Latest EBITDA"]]), axis=1)

y_scaled_test = scaler.fit_transform(df[["Latest_Valuation"]])

error_lib = (1/len(x_scaled_test)) * sum(abs((0.03397638*x1 + 0.10654523*x2 - 0.01161255) - y) for (x1,x2),y in zip(x_scaled_test, y_scaled_test))
## End ANSWER
error_lib = print(abs(error_lib))

[0.00187428]

In [12]:
v = rmse/y_avg
v

4.012757566970761

In [13]:
#