In [37]:
!pip install xgboost

Collecting xgboost
  Obtaining dependency information for xgboost from https://files.pythonhosted.org/packages/03/e6/4aef6799badc2693548559bad5b56d56cfe89eada337c815fdfe92175250/xgboost-2.0.3-py3-none-macosx_12_0_arm64.whl.metadata
  Downloading xgboost-2.0.3-py3-none-macosx_12_0_arm64.whl.metadata (2.0 kB)
Requirement already satisfied: numpy in /Users/shreetipatel/anaconda3/lib/python3.11/site-packages (from xgboost) (1.24.3)
Requirement already satisfied: scipy in /Users/shreetipatel/anaconda3/lib/python3.11/site-packages (from xgboost) (1.10.1)
Downloading xgboost-2.0.3-py3-none-macosx_12_0_arm64.whl (1.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.9/1.9 MB 11.7 MB/s eta 0:00:0000:010:01
Installing collected packages: xgboost
Successfully installed xgboost-2.0.3

In [125]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from xgboost import XGBClassifier
from sklearn.model_selection import cross_val_score

In [126]:
df = pd.read_pickle('cleaned_startup_data.pkl')
print(df.info())
print(df.columns)
print(df.shape)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27220 entries, 0 to 27219
Data columns (total 29 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   permalink               27220 non-null  object
 1   name                    27219 non-null  object
 2   homepage_url            25447 non-null  object
 3   category_list           26824 non-null  object
 4   funding_total_usd       22952 non-null  float64
 5   status                  27220 non-null  object
 6   country_code            27220 non-null  object
 7   state_code              27192 non-null  object
 8   region                  27152 non-null  object
 9   city                    27152 non-null  object
 10  funding_rounds          27220 non-null  int64
 11  founded_at              27220 non-null  datetime64[ns, UTC]
 12  first_funding_at        27220 non-null  datetime64[ns, UTC]
 13  last_funding_at         27220 non-null  datetime64[ns, UTC]
 14  2014_funding_total_usd  18797 non-null  float64
 15  2014_funding_rounds     27220 non-null  int64
 16  2014_status             21646 non-null  object
 17  2014_last_funding_at    22035 non-null  datetime64[ns, UTC]
 18  acquirer_name           3025 non-null   object
 19  acquirer_category_list  2919 non-null   object
 20  acquirer_country_code   2924 non-null   object
 21  acquirer_state_code     2900 non-null   object
 22  acquirer_region         2911 non-null   object
 23  acquirer_city           2911 non-null   object
 24  acquired_at             3024 non-null   object
 25  acquired_month          3024 non-null   object
 26  price_amount            887 non-null    float64
 27  price_currency_code     3025 non-null   object
 28  is_success              27220 non-null  int64
dtypes: datetime64[ns, UTC](4), float64(3), int64(3), object(19)
memory usage: 6.2+ MB
None
Index(['permalink', 'name', 'homepage_url', 'category_list',
       'funding_total_usd', 'status', 'country_code', 'state_code', 'region',
       'city', 'funding_rounds', 'founded_at', 'first_funding_at',
       'last_funding_at', '2014_funding_total_usd', '2014_funding_rounds',
       '2014_status', '2014_last_funding_at', 'acquirer_name',
       'acquirer_category_list', 'acquirer_country_code',
       'acquirer_state_code', 'acquirer_region', 'acquirer_city',
       'acquired_at', 'acquired_month', 'price_amount', 'price_currency_code',
       'is_success'],
      dtype='object')
(27220, 29)

In [127]:
# Drop columns that should not be a part of X values
# Thia include columsn used to define isSuccess
df = df.drop(['permalink', 'name' , 'homepage_url', 'country_code', 'status', '2014_status','acquirer_name',
       'acquirer_category_list', 'acquirer_country_code',
       'acquirer_state_code', 'acquirer_region', 'acquirer_city',
       'acquired_at', 'acquired_month', 'price_amount', 'price_currency_code'], axis = 1)

#drop for testing  add datetime cols: ['founded_at', 'first_funding_at','last_funding_at',  '2014_last_funding_at']
df = df.drop(['category_list',
       'city', 'founded_at', 'first_funding_at',
       'last_funding_at',
        '2014_last_funding_at'], axis = 1)
# add ID 
# df.reset_index(inplace=True)
# df.rename(columns={'index': 'id'}, inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27220 entries, 0 to 27219
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   funding_total_usd       22952 non-null  float64
 1   state_code              27192 non-null  object
 2   region                  27152 non-null  object
 3   funding_rounds          27220 non-null  int64
 4   2014_funding_total_usd  18797 non-null  float64
 5   2014_funding_rounds     27220 non-null  int64
 6   is_success              27220 non-null  int64
dtypes: float64(2), int64(3), object(2)
memory usage: 1.7+ MB

In [128]:
df.columns

Index(['funding_total_usd', 'state_code', 'region', 'funding_rounds',
       '2014_funding_total_usd', '2014_funding_rounds', 'is_success'],
      dtype='object')

In [129]:
# columns_to_encode = ['status', 'state_code', 'region','2014_status',
#         'acquirer_country_code', 'acquirer_state_code',
#        'acquirer_region', 'acquired_month',
#        'price_currency_code']

columns_to_encode = ['state_code', 'region']
df_encoded = pd.get_dummies(df, columns=columns_to_encode)
df_encoded

,funding_total_usd,funding_rounds,2014_funding_total_usd,2014_funding_rounds,is_success,state_code_AK,state_code_AL,state_code_AR,state_code_AZ,state_code_CA,...,region_WI - Other,region_WV - Other,region_WY - Other,"region_Washington, D.C.",region_Wichita,"region_Wilmington - Cape Fear, North Carolina","region_Wilmington, Delaware",region_Winston-Salem,region_Worcester,region_Youngstown
0,NaN,1,NaN,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,33600000.0,4,10600000.0,2,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,NaN,1,NaN,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,6000000.0,1,NaN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5000000.0,1,NaN,0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27215,25000000.0,1,25000000.0,1,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
27216,34275015.0,4,34275015.0,4,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27217,3300000.0,2,NaN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27218,2150000.0,2,2150000.0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27219,18192.0,1,NaN,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [130]:
df_encoded.shape

(27220, 297)

In [131]:
df_encoded['is_success'].value_counts()

0    23581
1     3639
Name: is_success, dtype: int64

In [132]:
X = df_encoded.drop('is_success', axis=1)
y = df.loc[:, ['is_success']]

In [133]:
X.shape
X.columns

Index(['funding_total_usd', 'funding_rounds', '2014_funding_total_usd',
       '2014_funding_rounds', 'state_code_AK', 'state_code_AL',
       'state_code_AR', 'state_code_AZ', 'state_code_CA', 'state_code_CO',
       ...
       'region_WI - Other', 'region_WV - Other', 'region_WY - Other',
       'region_Washington, D.C.', 'region_Wichita',
       'region_Wilmington - Cape Fear, North Carolina',
       'region_Wilmington, Delaware', 'region_Winston-Salem',
       'region_Worcester', 'region_Youngstown'],
      dtype='object', length=296)

In [134]:
y.shape

(27220, 1)

In [135]:
def cross_val(classifier, num_splits=10):
    model = classifier
    scores = cross_val_score(model, X, y, cv=num_splits)
    
    print(np.round(scores, 9))
    print(scores.mean())

In [136]:
cross_val(XGBClassifier(n_estimators=5))

[0.86664217 0.8662748  0.8662748  0.86590742 0.8662748  0.8662748
 0.8662748  0.8662748  0.8662748  0.8662748 ]
0.8662747979426892

Given error:
    ( Invalid columns:category_list: object, funding_total_usd: object, city: object, founded_at: object, first_funding_at: object, last_funding_at: object, 2014_last_funding_at: object, acquirer_name: object, acquirer_category_list: object, acquirer_city: object, acquired_at: object)

1. Find out why export / import from csv turns datatypes of columns back into objects
2. Make sure df passed into model is all numeric or try the enable_categorical param
3. Try smaller df first (filter out many of the columns or use just given numerical data)